{% extends "layout.html" %}

{% block body %}
<h2>{{ event.title }}</h2>
<h2>{{ event.description }}</h2>
<h2>{{ event.day }}</h2>
<h2>{{ event.room }}</h2>
<h2>{{ event_time }}</h2>
<h2>categories</h2>
{% for category in event.categories %}
<h4>{{category.name}}</h4>
{% endfor %}
{% if not joined  %}
<a href="{{ url_for('join_event', event_id=event.id) }}">参加する</a>
{% else %}
<p>参加済み</p>
{% endif %}
<div>
<a class="event-delete-link" href="#" data-delete-url="{{ url_for('event_delete', event_id=event.id) }}">delete</a>
</div>
<h2>member</h2>
{% for user in event.users %}
<h3>{{user.name}}</h3>
{% endfor %}

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(function() {
    $(".event-delete-link").on("click", function() {
      var delete_url = $(this).attr('data-delete-url');
      $.ajax({
        url: delete_url,
        type: 'DELETE',
        success: function(response) {
          if (response.status == 'OK') {
            window.location = '{{ url_for('event_list') }}';
          } else {
            alert('Delete failed.')
          }
        }
      });
      return false;
    });
  });
</script>

{% endblock body %}

