{% extends "layout.html" %}

{% block body %}

    <h2>Home</h2>
    <table class="tab" align="center"><tr>
        <td valign="top">
          <table class="tab_bor" border="1">
            <h3>カレンダー</h3>
            <tr>
              <th></th>
              {% for day in data %}
              <th class="da_ta" align="center">{{ day }}</th>
              {% endfor %}
            </tr>
            {% for i in range(5) %}
            <tr>
              <th class="da_ta" align="center">{{ i + 1 }}限</th>
              {% for day in data %}
              <td class="da_ta" align="center"><a href="{{url_for('show_plan')}}?day={{day}}&time={{i}}">{{ data[day][i] }}</a></td>
              {% endfor %}
            </tr>
            {% endfor%}
          </table>
          <br><h3>イベント一覧は<a href="{{url_for('event_list')}}">こちら</a></h3>
        </td>
        <td valign="top">
          <table>
            <h3>おすすめのイベント</h3>
          <tr><td>
            <table class="tab_bor" border="1">
            {% for event in events %}
              <tr><td>
              <p>
              <span style="color:#5eb954">タイトル</span>：<a href="{{url_for('event_detail', event_id=event.id)}}">{{event.title}}</a><br>
              <span style="color:#5eb954">カテゴリー</span>
              <ul>
              {% for category in event.categories %}
              <li>{{ category.name}}</li>
              {% endfor %}
              </ul>
              </p>
              </td></tr>
            {% endfor %}
            </table>
        </td></tr>
        </table>
        </td>
      </tr></table>

{% endblock %}
