<!doctype html>
<html>
  <head>
    <title>Calrandar</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="page">
    <h1>Home</h1>
    <table class="tab" lign="center"><tr>
        <td valign="top">
          <table border="1">
            <h3>カレンダー</h3>
            <tr>
              <th></th>
              {% for day in data %}
              <th class="da_ta" align="center">{{ day }}</th>
              {% endfor %}
            </tr>
            {% for i in range(5) %}
            <tr>
              <th class="da_ta" align="center">{{ i + 1 }}限</th>
              {% for day in data %}
              <td class="da_ta" align="center"><a href="{{url_for('show_plan')}}?day={{day}}&time={{i}}">{{ data[day][i] }}</a></td>
              {% endfor %}
            </tr>
            {% endfor%}
          </table>
        </td>
        <td valign="top">
          <table>
          <tr><td>
              <h3>イベント一覧は<a href="{{url_for('event_list')}}">こちら</a></h3>
          </td></tr>
          <tr><td>
          <table border="1">
            <h3>ポスト</h3>
            <tr>
              <th>タイトル</th>
              <th>本文</th>
              <th>カテゴリー</th>
            </tr>
            {% for post in posts %}
            <tr>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>
              {% for category in post.categories %}
              {{ category.name}}<br>
              {% endfor %}
            </td>
            </tr>
            {% endfor %}
          </table>
        </td></tr>
        </table>
        </td>
      </tr></table>
      </div>
  </body>

</html>
